@model Budgeteerv1.Models.HouseHold
@{
    ViewBag.Title = "CreateHousehold";
}


<div class="container">
    <h2>Create a Household</h2>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="portlet portlet-boxed">
                <div class="portlet-header">
                    <h4 class="portlet-title">
                        <u><i class="fa fa-home portlet-icon"></i>Household</u>
                    </h4>
                </div> <!-- /.portlet-header -->
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-12">
                            @using (Html.BeginForm("Create", "HouseHold", FormMethod.Post, htmlAttributes: new { @class = "form parsley-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", data_parsley_required = "true" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div> <!-- /.form-group -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Create</button>
                                </div>
                            }
                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

