
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <title>Budget Landing</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--Online Font Resources-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/Content/font-awesome.min.css"/>

    <!--Custom CSS-->
    <link rel="stylesheet" href="/Content/mvpready-landing.css" />
    <link rel="stylesheet" href="/Content/animate.min.css" />
    @RenderSection("css", required: false)
</head>
<body>
    <div id="wrapper">
        <!--Nav--> 
        <header class="navbar" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <a href="@Url.Action("Index","Home")" class="navbar-brand navbar-brand-img">
                        <img src="/Images/logo.png" alt="Start Budgeting" style="display:inline;"> <span>BudgetReady</span>
                    </a>

                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                </div> <!-- /.navbar-header -->
                <nav class="collapse navbar-collapse" role="navigation">

                    <ul class="nav navbar-nav navbar-right mainnav-menu">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown ">
                                <a href="@Url.Action("Index","Dashboard")">
                                    Dashboard
                                </a>
                            </li>
                        }
                        
                        @*<li class="dropdown ">
                            <a href="@Url.Action("Contact","Home")">
                                Contact
                            </a>
                        </li>*@

                        <li class="dropdown ">

                            <a href="http://qizhang.azurewebsites.net/Posts">
                                Blog
                            </a>

                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown ">

                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                    Login
                                    <i class="fa fa-caret-down navbar-caret"></i>
                                </a>

                                <ul class="dropdown-menu" role="menu">

                                    <li>
                                        <a href="@Url.Action("Login","Account")">
                                            <i class="fa fa-unlock dropdown-icon"></i>
                                            Login Social
                                        </a>
                                    </li>

                                    @*<li>
                                        <a href="@Url.Action("ForgotPassword","Account")">
                                            <i class="fa fa-unlock dropdown-icon"></i>
                                            Forgot Password
                                        </a>
                                    </li>*@

                                    <li>
                                        <a href="@Url.Action("Register","Account")">
                                            <i class="fa fa-star dropdown-icon"></i>
                                            Signup
                                        </a>
                                    </li>

                                </ul>

                            </li>
                        }


                        
                        <li>
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>

                </nav>
            </div>
        </header>

        <div class="">
            @RenderBody()
        </div>
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!--Custom JS-->
    <script src="/Scripts/mvpready-core.js"></script>
    <script src="/Scripts/mvpready-helpers.js"></script>
    <script src="/Scripts/mvpready-landing.js"></script>

    @RenderSection("page", required: false)

</body>
</html>
