@model Budgeteerv1.Models.ChartViewModel
@using Budgeteerv1.Models          
@{
    ViewBag.Title = "DataCharts";
}


<div class="container">

    <div class="portlet portlet-default">

        <div class="portlet-header">
            <h4 class="portlet-title">
                Monthly Stats
            </h4>
        </div> <!-- /.portlet-header -->

        <!--Top row nonchart data-->
        <div class="portlet-body">

            <div class="row">
            
                <div class="col-sm-6 col-md-3">
                    <div class="row-stat">
                        <p class="row-stat-label">Revenue This Month</p>
                        <h3 class="row-stat-value">$<span class="counter">@Model.MonthlyIncome</span></h3>                        
                        @if (Model.IncomeChange >= 0)
                        {
                            <span class="label label-success row-stat-badge">+@Model.IncomeChange%</span>
                        }
                        else
                        {
                            <span class="label label-danger row-stat-badge">-@Model.IncomeChange%</span>
                        }                                
                    </div> <!-- /.row-stat -->
                </div> <!-- /.col -->

                <div class="col-sm-6 col-md-3">
                    <div class="row-stat">
                        <p class="row-stat-label">Expenditure This Month</p>
                        <h3 class="row-stat-value">$<span class="counter">@Model.MonthlyExpenses</span></h3>
                        @if (Model.ExpenseChange >= 0)
                        {
                            <span class="label label-success row-stat-badge">+@Model.ExpenseChange%</span>
                        }
                        else
                        {
                            <span class="label label-danger row-stat-badge">-@Model.ExpenseChange%</span>
                        }
                    </div> <!-- /.row-stat -->
                </div> <!-- /.col -->

                <div class="col-sm-6 col-md-3">
                    <div class="row-stat">
                        <p class="row-stat-label">Total Users</p>
                        <h3 class="row-stat-value"><span class="counter">@Model.UserCount</span></h3>
                        @*<span class="label label-success row-stat-badge">+26%</span>*@
                    </div> <!-- /.row-stat -->
                </div> <!-- /.col -->

                <div class="col-sm-6 col-md-3">
                    <div class="row-stat">
                        <p class="row-stat-label">Overall Balance</p>
                        <h3 class="row-stat-value">$<span class="counter">@Model.OverallBalance</span></h3>
                        @*<span class="label label-danger row-stat-badge">+5%</span>*@
                    </div> <!-- /.row-stat -->
                </div> <!-- /.col -->

            </div> <!-- /.row -->

        </div> <!-- /.portlet-body -->

    </div> <!-- /.portlet -->


    <div class="row">

        <div class="col-md-8">

            <div class="portlet portlet-default">

                <div class="portlet-header">
                    <h4 class="portlet-title">
                        Budget vs Actual Spending &nbsp;@System.DateTime.Today.Year
                    </h4>
                </div> <!-- /.portlet-header -->

                <div class="portlet-body">
                    
                    <div id="vertical-chart" class="chart-holder" onload=""></div><!-- /.bg-chart -->


                    <br>

                </div> <!-- /.portlet-body -->

            </div> <!-- /.portlet -->

        </div> <!-- /.col -->

        <div class="col-md-4">

            <div class="portlet portlet-default">

                <div class="portlet-header">
                    <h4 class="portlet-title">
                        Spending Breakdown
                    </h4>
                </div> <!-- /.portlet-header -->

                <div class="portlet-body">

                    <div id="donut-chart" class="chart-holder" style="width: 70%;"></div>

                </div> <!-- /.portlet-body -->

            </div> <!-- /.portlet -->

        </div> <!-- /.col -->

    </div> <!-- /.row -->


    <div class="row">

        <div class="col-md-6">

            <div class="portlet portlet-default">

                <div class="portlet-header">
                    <h4 class="portlet-title">
                        Product Sales Today
                    </h4>
                </div> <!-- /.portlet-header -->

                <div class="portlet-body">

                    <!--Line Chart for overall balance activity-->
                    

                </div> <!-- /.portlet-body -->

            </div> <!-- /.portlet -->

        </div> <!-- /.col -->



        <div class="col-md-6">

            <div class="portlet portlet-default">

                <div class="portlet-header">
                    <h4 class="portlet-title">
                        Recent Activities
                    </h4>
                </div> <!-- /.portlet-header -->

                <div class="portlet-body">

                    @Html.Action("RecentTransactions")

                </div> <!-- /.portlet-body -->

            </div> <!-- /.portlet -->

        </div> <!-- /.col -->


    </div> <!-- /.row -->



    <div class="portlet portlet-default">

        <div class="portlet-header">
            <h4 class="portlet-title">
                Social Media Stats
            </h4>
        </div> <!-- /.portlet-header -->

        <div class="portlet-body">

            <div class="row">

                <div class="col-sm-3">
                    <div class="row-stat">
                        <p class="row-stat-label">Facebook Likes</p>
                        <h3 class="row-stat-value">1,290</h3>
                        <span class="label label-success row-stat-badge">+21</span>
                    </div> <!-- /.row-stat -->
                </div> <!-- /.col -->

                <div class="col-sm-3">
                    <div class="row-stat">
                        <p class="row-stat-label">Twitter Followers</p>
                        <h3 class="row-stat-value">3,290</h3>
                        <span class="label label-success row-stat-badge">+10</span>
                    </div> <!-- /.row-stat -->
                </div> <!-- /.col -->

                <div class="col-sm-3">
                    <div class="row-stat">
                        <p class="row-stat-label">Github Followers</p>
                        <h3 class="row-stat-value">21,361</h3>
                        <span class="label label-danger row-stat-badge">-5</span>
                    </div> <!-- /.row-stat -->
                </div> <!-- /.col -->

                <div class="col-sm-3">
                    <div class="row-stat">
                        <p class="row-stat-label">Email Subscribers</p>
                        <h3 class="row-stat-value">2,689</h3>
                        <span class="label label-warning row-stat-badge">+ 0</span>
                    </div> <!-- /.row-stat -->
                </div> <!-- /.col -->

            </div> <!-- /.row -->

        </div> <!-- /.portlet-body -->

    </div> <!-- /.portlet -->



    <div class="row">

        <div class="col-md-6">

            <div class="portlet portlet-default">

                <div class="portlet-header">
                    <h4 class="portlet-title">
                        Server Load
                    </h4>
                </div> <!-- /.portlet-header -->

                <div class="porlet-body">

                    <div id="auto-chart" class="chart-holder-250"></div>

                </div> <!-- /.portlet-body -->

            </div> <!-- /.portlet -->

        </div> <!-- /.col -->


        <div class="col-md-6">

            <div class="portlet portlet-default">

                <div class="portlet-header">
                    <h4 class="portlet-title">
                        Daily Traffic
                    </h4>
                </div> <!-- /.portlet-header -->

                <div class="porlet-body">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Source</th>
                                <th class="text-right">Visits</th>
                                <th class="text-right">Conversion</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>socialkit</td>
                                <td class="text-right">25,843</td>
                                <td class="text-right">8.9%</td>
                            </tr>
                            <tr>
                                <td>subtlepatterns</td>
                                <td class="text-right">5,141</td>
                                <td class="text-right">2.4%</td>
                            </tr>
                            <tr>
                                <td>google</td>
                                <td class="text-right">2,562</td>
                                <td class="text-right">1.2%</td>
                            </tr>
                            <tr>
                                <td>facebook</td>
                                <td class="text-right">345</td>
                                <td class="text-right">0.02%</td>
                            </tr>
                            <tr>
                                <td>Social Kit</td>
                                <td class="text-right">12</td>
                                <td class="text-right">0.0%</td>
                            </tr>
                            <tr>
                                <td>webappers</td>
                                <td class="text-right">9</td>
                                <td class="text-right">0.0%</td>
                            </tr>


                        </tbody>
                    </table>

                </div> <!-- /.portlet-body -->

            </div> <!-- /.portlet -->

        </div> <!-- /.col -->

    </div> <!-- /.row -->



</div> <!-- /.container -->

@section page
{
    
    <script>
        $(document).ready(function () {
            $('.counter').counterUp({
                delay: 10,
                time: 1000
            })

                //bar chart
                $.ajax({
                    url: '/Dashboard/ChartData/',
                    dataType: "json",
                    type: "GET",
                    async: true,
                    cache: false,
                    success: function (data) {
                        var d1, d2, d3, d4, data, chartOptions;

                        d1 = $.map(data.income, function (v, k) {
                            return [[new Date(k).getTime(), v]];
                        });

                        d2 = $.map(data.expense, function (v, k) {
                            return [[new Date(k).getTime(), v]];
                        });

                        d3 = $.map(data.budgetexpense, function (v, k) {
                            return [[new Date(k).getTime(), v]];
                        });

                        d4 = $.map(data.budgetincome, function (v, k) {
                            return [[new Date(k).getTime(), v]];
                        });

                        //console.log(d1);

                        data = [{
                            label: 'Income',
                            data: d1,
                            bars: {
                                order: 0
                            }
                        }, {
                            label: 'Budget Incomes',
                            data: d4,
                            bars: {
                                order: 1
                            }
                        }, {
                            label: 'Expenses',
                            data: d2,
                            bars: {
                                order: 2
                            }
                        }, {
                            label: 'Budget Expenses',
                            data: d3,
                            bars: {
                                order: 3
                            }
                        }
                        ];

                        chartOptions = {
                            xaxis: {
                                min: (new Date(2014, 11, 15)).getTime(),
                                max: (new Date(2015, 11, 15)).getTime(),
                                mode: "time",
                                tickSize: [1, "month"],
                                monthNames: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                                tickLength: 0
                            },
                            grid: {
                                hoverable: true,
                                clickable: false,
                                borderWidth: 0
                            },
                            bars: {
                                show: true,
                                barWidth: 12 * 24 * 60 * 60 * 300,
                                fill: true,
                                lineWidth: 1,
                                lineWidth: 0,
                                fillColor: { colors: [{ opacity: 1 }, { opacity: 1 }] }
                            },

                            tooltip: true,
                            tooltipOpts: {
                                content: '%s: %y'
                            },
                            colors: mvpready_core.layoutColors
                        }


                        var holder = $('#vertical-chart');

                        if (holder.length) {
                            $.plot(holder, data, chartOptions);
                        }

                    },
                    error: function (xhr) {
                        alert("we're doomed barchart is broken")
                        alert(xhr.statusText);
                    }
                });
                
            
                //donut chart
                $.ajax({
                    url: '/Dashboard/fillmydonut/',
                    dataType: "json",
                    type: "GET",
                    async: true,
                    cache: false,
                    success: function (data) {
                        d1 = $.map(data, function (v, k) {
                            return [{label: v.category, data: v.amount}];
                        });
                        var chartOptions;
                        console.log(d1);
                        chartOptions = {
                            series: {
                                pie: {
                                    show: true,
                                    innerRadius: .5,
                                    stroke: {
                                        width: 4
                                    }
                                }
                            },
                            legend: {
                                position: 'ne'
                            },
                            tooltip: true,
                            tooltipOpts: {
                                content: '%s, %p.0%'
                            },
                            grid: {
                                hoverable: true
                            },
                            colors: mvpready_core.layoutColors
                        };

                        var donutholder = $('#donut-chart');
                        if(donutholder.length)
                        {
                            $.plot(donutholder, d1, chartOptions);
                        }

                    },
                    error: function (xhr) {
                        console.log(xhr.statusText);
                    }
                });

            //line chart
                $.ajax({


                })
        
        });
    </script>
    
}