@using Microsoft.AspNet.Identity
@model Budgeteerv1.Models.ApplicationUser
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div data-household-id="@Model.HouseHoldId" id="arbitrary-data"></div>

<div class="container">
    @if (ViewBag.ErrorMsg != null)
    {
        <div class="row">
            <div class="alert alert-success" role="alert" id="invitationAlert" onclick="$('#invitationAlert').fadeOut();">@ViewBag.ErrorMsg</div>
        </div>
    }
    
    <div class="row">
        <div class="col-md-3 col-sm-5">
            <div class="profile-avatar">
                <a href="#" title="Edit Profile Picture">                    
                        <img src="@Model.ProfileUrl" class="profile-avatar-img img-responsive thumbnail" alt="Profile Image">                                        
                </a>
            </div> <!-- /.profile-avatar -->

         
            <div class="list-group">
                <a href="@Url.Action("DataCharts", "Dashboard")" class="list-group-item">
                    <i class="fa fa-area-chart text-primary"></i> &nbsp;&nbsp;Dashboard

                    <i class="fa fa-chevron-right list-group-chevron"></i>
                    
                </a>
                <a href="@Url.Action("Index", "HouseAccount")" class="list-group-item">
                    <i class="fa fa-asterisk text-primary"></i> &nbsp;&nbsp;Accounts

                    <i class="fa fa-chevron-right list-group-chevron"></i>
                    <span class="badge">@Model.HouseHold.Accounts.Count</span>
                </a>                
                <a href="@Url.Action("Index","Budget")" class="list-group-item">
                    <i class="fa fa-book text-primary"></i> &nbsp;&nbsp;Budget

                    <i class="fa fa-chevron-right list-group-chevron"></i>
                    <span class="badge">@Model.HouseHold.Budgets.Count</span>
                </a>
                              
                    <a href="#MembersModal" class="list-group-item" data-toggle="modal">
                        <i class="fa fa-group text-primary"></i> &nbsp;&nbsp;Members

                        <i class="fa fa-chevron-right list-group-chevron"></i>
                        <span class="badge">@Model.HouseHold.Users.Count</span>
                    </a>
                    
                    <div id="MembersModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h2 class="modal-title">Household Members</h2>
                                </div>
                                
                                    <div class="modal-body">
                                        <table class="table table-bordered" style="overflow:scroll;">
                                            <thead>
                                                <tr>
                                                    <th>Members</th>
                                                    <th>Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var member in Model.HouseHold.Users)
                                                {
                                                    <tr>                                                       
                                                        <td><img src = "@member.ProfileUrl" height="100" width="100"/></td>                                                       
                                                        <td>@member.DisplayName</td>
                                                    </tr>
                                                }                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-facebook" data-dismiss="modal">Close</button>
                                    </div>
                                
                            </div>
                        </div>
                    </div>

                    <a href="#NotificationTable" class="list-group-item" data-toggle="modal">
                        <i class="fa fa-bell text-primary"></i> &nbsp;&nbsp;Notifications

                        <i class="fa fa-chevron-right list-group-chevron"></i>
                        <span class="badge">@Model.Notifications.Count</span>
                    </a>
                    
                    <a href="#confirmationModal" class="list-group-item" data-toggle="modal">
                        <i class="fa fa-home text-primary"></i> &nbsp;&nbsp;Leave Household

                        <i class="fa fa-chevron-right list-group-chevron"></i>
                    </a>
                    <!--Leave Confirmation Modal-->
                    <div id="confirmationModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h2 class="modal-title"><i class="fa fa-exclamation-triangle"></i>
                                    &nbsp;Confirmation</h2>
                                </div>
                                @using (Html.BeginForm("LeaveConfirm", "HouseHold",new { userId = Model.Id, householdId = Model.HouseHoldId },FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="modal-body">
                                        <h4>Are you sure you want to leave Household "@Model.HouseHold.Name"?</h4>
                                        @if (Model.HouseHold.Users.Count == 1)
                                        {
                                            <h4 class="text-warning"><small>You are the last member of "@Model.HouseHold.Name", if you leave this household will be deleted and your data will be lost. Are you sure you wish to leave?</small></h4>
                                        }                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-facebook" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Yes</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>                                                                   

                <a href="/Dashboard/ProfileSettings" class="list-group-item">
                    <i class="fa fa-cog text-primary"></i> &nbsp;&nbsp;Settings

                    <i class="fa fa-chevron-right list-group-chevron"></i>
                </a>
            </div> <!-- /.list-group -->
                 

            <div id="NotificationTable" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h2 class="modal-title">Notifications</h2>
                        </div>

                        <div class="modal-body">
                            <table class="table" style="overflow:scroll;">
                                <thead>
                                    <tr>
                                        <th>Notification</th>
                                        <th>Message</th>
                                        <th>Created</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var note in Model.Notifications)
                                    {
                                        <tr>
                                            <td>@note.Name</td>
                                            <td>@note.Message</td>
                                            <td>@note.Created</td>
                                            <td>
                                                @if(note.Name == "Invite")
                                                {
                                                    using (Html.BeginForm("Join", "HouseHold", new { noteId = note.NotificationId, householdId = note.HouseholdId }))
                                                    {
                                                        @Html.AntiForgeryToken()
    
                                                        <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus"></i> &nbsp;Join</button>
                                                        <br />
                                                        <a href="@Url.Action("Decline", "HouseHold", new { noteId = note.NotificationId})" class="btn btn-warning"><i class="fa fa-user-times"></i> &nbsp;Decline</a>
    
                                                    }
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("Decline", "HouseHold", new{noteId = note.NotificationId})" class ="btn btn-primary">Delete</a>
                                                }
                                                                                              
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-facebook" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

   

        </div> <!-- /.col -->
    
        <div class="col-md-6 col-sm-7">
            <br class="visible-xs">
           
            <h3>@Model.DisplayName <a class="pull-right btn btn-primary" href="#InviteUser" data-toggle="modal">Invite</a></h3>

            <div id="InviteUser" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h2 class="modal-title">Invitation</h2>
                        </div>
                        @using (Ajax.BeginForm("Invite", "HouseHold", new AjaxOptions { 
                            LoadingElementId = "loader"
                        }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.HouseHoldId)
                            <div class="modal-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label" })
                                    <input type="text" name="Email" class="form-control" placeholder="User you wish to invite" />
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <!--Ajax loading gif-->
                                <div id="loader" class="alert" style="display:none;">
                                    Loading ... <img src="~/Images/loading_spinner.gif" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-facebook" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="sendinvitation">Invite &nbsp;<i class="fa fa-envelope"></i></button>
                            </div>
                        }
                    </div>
                </div>
            </div>

            

            @*<h5 class="text-muted">Visual, UI, UX Designer</h5>*@
            <hr>
            <p>
                @if (Model.HouseHoldId == null)
                {
                    <a href="@Url.Action("Create","HouseHold")" class="btn btn-primary">Create Household</a>
                    
                }
                else
                {
                    <h4>Member of Household "@Model.HouseHold.Name" </h4>
                    
                }                
            </p>
            <hr>

            <ul class="icons-list">
                <li><i class="icon-li fa fa-envelope"></i> @User.Identity.GetUserName()</li>
                <li><i class="icon-li fa fa-globe"></i> qizhang.azurewebsites.net</li>
                <!--maybe use geolocation for each user-->
                <li><i class="icon-li fa fa-map-marker"></i> Las Vegas, NV</li>
            </ul>
            <br>
            <strong>About Me:</strong>
            <p>
                @Model.Description
            </p>
            <hr>

            <br><br>
            <div class="heading-block">
                <h4>
                    Activity Feed
                </h4>
            </div> <!-- /.heading-block -->
            <div class="share-widget clearfix">  
            @if(Model.HouseHoldId != null)
            {
                @Html.Action("RecentTransactions")
            }                       
        </div> <!-- /.col -->
        </div>

       @if (Model.HouseHoldId != null)
       {
        <div class="col-md-3">
            <div class="heading-block">
                <h5>
                    @DateTime.Today.ToString("MMMM") 's Budget
                </h5>
            </div>
            <div class="progress-plugin">

            </div>

            <br>

        </div> <!-- /.col -->
       }
        
    </div> <!-- /.row -->
    <br><br>
</div> <!-- /.container -->
<style>
    .outer-therm{
        margin-top:0;
    }
    .inner-therm{
        margin-top:0;
    }
    .progressplugs{
        margin-bottom:0;
    }
</style>
@section page{
    <script src="/Scripts/jqmeter.min.js"></script>
    <script type="text/javascript">

        function OnSuccess() {
            alert("The Ajax Worked!");
        }

        function OnFailure() {
            alert("The Ajax Failed!");
        }

        $(document).ready(function () {

            $('#sendinvitation').click(function () {
                $('#InviteUser').modal('hide');
            });
            $.ajax({
                type: 'GET',
                url: '/Dashboard/FillProgressBar/',
                dataType: 'json',
                success: function (data) {
                    
                    d1 = $.map(data, function (v, k) {
                        return { label: v.CategoryName, budget: v.BudgetPercent, actual: v.AmtPercent }
                    });

                    var colors = ["#e3ba0c", "#f04e4e", "#9fd5d0", "#fbe4b2", "#521515"];
                    var idx = 0;
                    $.each(d1, function (e, i) {
                        if (i.budget != 0)
                        {
                            if (idx > (colors.length - 1)) {
                                idx = 0;
                            }
                            $('.progress-plugin').append(
                                '<p class="progressplugs">' + "<strong>" + i.label + "</strong>" + '<span class="pull-right">' + "$" + (i.budget - i.actual).toFixed(2) + " left" + '</span></p><div id="pb' + i.label + '"></div>');

                            $('#pb' + i.label).jQMeter({
                                goal: Math.round(i.budget).toString(),
                                raised: Math.round(i.actual).toString(),
                                barColor: colors[idx]
                            });
                            idx++;
                        }
                        

                    });
                }
            });

        });


    </script>

}
