@using Microsoft.AspNet.Identity
@model Budgeteerv1.Models.ApplicationUser
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div data-household-id="@Model.HouseHoldId" id="arbitrary-data"></div>

<div class="container">
    @if (ViewBag.ErrorMsg != null)
    {
        <div class="row">
            <div class="alert alert-success" role="alert" id="invitationAlert" onclick="$('#invitationAlert').fadeOut();">@ViewBag.ErrorMsg</div>
        </div>
    }
    
    <div class="row">
        <div class="col-md-3 col-sm-5">
            <div class="profile-avatar">
                <a href="#" title="Edit Profile Picture">
                    @if (Model.ProfileUrl == null)
                    {
                        <img src="http://placehold.it/263x263" class="profile-avatar-img img-responsive thumbnail" alt="Profile Image">
                    }
                    else
                    {
                        <img src="@Model.ProfileUrl" class="profile-avatar-img img-responsive thumbnail" alt="Profile Image">
                    }
                    
                </a>
            </div> <!-- /.profile-avatar -->

         @if (Model.HouseHoldId != null)
         {
            <div class="list-group">
                <a href="@Url.Action("DataCharts", "Dashboard", new { hhId = Model.HouseHoldId})" class="list-group-item">
                    <i class="fa fa-area-chart text-primary"></i> &nbsp;&nbsp;Dashboard

                    <i class="fa fa-chevron-right list-group-chevron"></i>
                    
                </a>
                <a href="@Url.Action("Index", "HouseAccount", new { householdid = Model.HouseHoldId})" class="list-group-item">
                    <i class="fa fa-asterisk text-primary"></i> &nbsp;&nbsp;Accounts

                    <i class="fa fa-chevron-right list-group-chevron"></i>
                    <span class="badge">@Model.HouseHold.Accounts.Count</span>
                </a>                
                <a href="@Url.Action("Index","Budget",new{householdid = Model.HouseHoldId})" class="list-group-item">
                    <i class="fa fa-book text-primary"></i> &nbsp;&nbsp;Budget

                    <i class="fa fa-chevron-right list-group-chevron"></i>
                    <span class="badge bCount"></span>
                </a>
                              
                    <a href="#MembersModal" class="list-group-item" data-toggle="modal">
                        <i class="fa fa-group text-primary"></i> &nbsp;&nbsp;Members

                        <i class="fa fa-chevron-right list-group-chevron"></i>
                        <span class="badge">@Model.HouseHold.Users.Count</span>
                    </a>
                    
                    <div id="MembersModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h2 class="modal-title">Household Members</h2>
                                </div>
                                
                                    <div class="modal-body">
                                        <table class="table table-bordered" style="overflow:scroll;">
                                            <thead>
                                                <tr>
                                                    <th>Members</th>
                                                    <th>Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var member in Model.HouseHold.Users)
                                                {
                                                    <tr>
                                                        @if(member.ProfileUrl != null)
                                                        {
                                                            <td><img src = "@member.ProfileUrl" height="100" width="100"/></td>
                                                        }
                                                        else
                                                        {
                                                            <td><img src="http://placehold.it/100x100" /></td>
                                                        }
                                                        
                                                        <td>@member.DisplayName</td>
                                                    </tr>
                                                }                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-facebook" data-dismiss="modal">Close</button>
                                    </div>
                                
                            </div>
                        </div>
                    </div>

                    <a href="#NotificationTable" class="list-group-item" data-toggle="modal">
                        <i class="fa fa-bell text-primary"></i> &nbsp;&nbsp;Notifications

                        <i class="fa fa-chevron-right list-group-chevron"></i>
                        <span class="badge">@Model.Notifications.Count</span>
                    </a>
                    
                    <a href="#confirmationModal" class="list-group-item" data-toggle="modal">
                        <i class="fa fa-home text-primary"></i> &nbsp;&nbsp;Leave Household

                        <i class="fa fa-chevron-right list-group-chevron"></i>
                    </a>
                    <!--Leave Confirmation Modal-->
                    <div id="confirmationModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h2 class="modal-title"><i class="fa fa-exclamation-triangle"></i>
                                    &nbsp;Confirmation</h2>
                                </div>
                                @using (Html.BeginForm("LeaveConfirm", "HouseHold",new { userId = Model.Id, householdId = Model.HouseHoldId },FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="modal-body">
                                        <h4>Are you sure you want to leave Household "@Model.HouseHold.Name"?</h4>
                                        @if (Model.HouseHold.Users.Count == 1)
                                        {
                                            <h4 class="text-warning"><small>You are the last member of "@Model.HouseHold.Name", if you leave this household will be deleted and your data will be lost. Are you sure you wish to leave?</small></h4>
                                        }                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-facebook" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Yes</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>                                                                   

                <a href="javascript:;" class="list-group-item">
                    <i class="fa fa-cog text-primary"></i> &nbsp;&nbsp;Settings

                    <i class="fa fa-chevron-right list-group-chevron"></i>
                </a>
            </div> <!-- /.list-group -->
         }
         else
         {
            <div class="list-group">
                <a href="#NotificationTable" class="list-group-item" data-toggle="modal">
                    <i class="fa fa-bell text-primary"></i> &nbsp;&nbsp;Notifications

                    <i class="fa fa-chevron-right list-group-chevron"></i>
                    <span class="badge">@Model.Notifications.Count</span>
                </a>
            </div>
         }

            <div id="NotificationTable" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h2 class="modal-title">Notifications</h2>
                        </div>

                        <div class="modal-body">
                            <table class="table" style="overflow:scroll;">
                                <thead>
                                    <tr>
                                        <th>Notification</th>
                                        <th>Message</th>
                                        <th>Created</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var note in Model.Notifications)
                                    {
                                        <tr>
                                            <td>@note.Name</td>
                                            <td>@note.Message</td>
                                            <td>@note.Created</td>
                                            <td>
                                                @using (Html.BeginForm("Join", "HouseHold", new { noteId = note.NotificationId, householdId = note.HouseholdId}))
                                                {
                                                    @Html.AntiForgeryToken()       
                                                                                                                                                                                                                                                                                                               
                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus"></i> &nbsp;Join</button>
                                                    <br />                                                   
                                                    <a href="@Url.Action("Decline", "HouseHold", new { noteId = note.NotificationId})" class="btn btn-warning"><i class="fa fa-user-times"></i> &nbsp;Decline</a>
                                                }                                                 
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-facebook" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

   

        </div> <!-- /.col -->
    
        <div class="col-md-6 col-sm-7">
            <br class="visible-xs">
            @if (Model.HouseHoldId != null)
            {<h3>@Model.DisplayName <a class="pull-right btn btn-primary" href="#InviteUser" data-toggle="modal">Invite</a></h3>}

            <div id="InviteUser" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h2 class="modal-title">Invitation</h2>
                        </div>
                        @using (Ajax.BeginForm("Invite", "HouseHold", new AjaxOptions { 
                            LoadingElementId = "loader", OnSuccess = "$('#InviteUser').modal('hide');"
                        }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.HouseHoldId)
                            <div class="modal-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label" })
                                    <input type="text" name="Email" class="form-control" placeholder="User you wish to invite" />
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <!--Ajax loading gif-->
                                <div id="loader" class="alert" style="display:none;">
                                    Loading ... <img src="~/Images/loading_spinner.gif" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-facebook" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Invite &nbsp;<i class="fa fa-envelope"></i></button>
                            </div>
                        }
                    </div>
                </div>
            </div>

            

            @*<h5 class="text-muted">Visual, UI, UX Designer</h5>*@
            <hr>
            <p>
                @if (Model.HouseHoldId == null)
                {
                    <a href="@Url.Action("Create","HouseHold")" class="btn btn-primary">Create Household</a>
                    
                }
                else
                {
                    <h4>Member of Household "@Model.HouseHold.Name" </h4>
                    
                }                
            </p>
            <hr>

            <ul class="icons-list">
                <li><i class="icon-li fa fa-envelope"></i> @User.Identity.GetUserName()</li>
                <li><i class="icon-li fa fa-globe"></i> qizhang.azurewebsites.net</li>
                <!--maybe use geolocation for each user-->
                <li><i class="icon-li fa fa-map-marker"></i> Las Vegas, NV</li>
            </ul>
            <br>
            <p>
                @Model.Description
            </p>
            <hr>

            <br><br>
            <div class="heading-block">
                <h4>
                    Activity Feed
                </h4>
            </div> <!-- /.heading-block -->
            <div class="share-widget clearfix">
                @*<textarea class="form-control share-widget-textarea" rows="3" placeholder="Share what you've been up to..." tabindex="1"></textarea>
                <div class="share-widget-actions">
                    <div class="share-widget-types pull-left">
                        <a href="javascript:;" class="fa fa-picture-o ui-tooltip" title="Post an Image"><i></i></a>
                        <a href="javascript:;" class="fa fa-video-camera ui-tooltip" title="Upload a Video"><i></i></a>
                        <a href="javascript:;" class="fa fa-lightbulb-o ui-tooltip" title="Post an Idea"><i></i></a>
                        <a href="javascript:;" class="fa fa-question-circle ui-tooltip" title="Ask a Question"><i></i></a>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-primary btn-sm" tabindex="2">Post</a>
                    </div>
                </div> <!-- /.share-widget-actions -->
            </div> <!-- /.share-widget -->
            <br><br>
            <div class="feed-item feed-item-idea">
                <div class="feed-icon bg-primary">
                    <i class="fa fa-lightbulb-o"></i>
                </div> <!-- /.feed-icon -->
                <div class="feed-subject">
                    <p><a href="javascript:;">Nikita Williams</a> shared an idea: <a href="javascript:;">Create an Awesome Idea</a></p>
                </div> <!-- /.feed-subject -->
                <div class="feed-content">
                    <ul class="icons-list">
                        <li>
                            <i class="icon-li fa fa-quote-left"></i>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                        </li>
                    </ul>
                </div> <!-- /.feed-content -->
                <div class="feed-actions">
                    <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a>
                    <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>
                    <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
                </div> <!-- /.feed-actions -->
            </div> <!-- /.feed-item -->

            <div class="feed-item feed-item-image">
                <div class="feed-icon bg-secondary">
                    <i class="fa fa-picture-o"></i>
                </div> <!-- /.feed-icon -->
                <div class="feed-subject">
                    <p><a href="javascript:;">Nikita Williams</a> posted the <strong>4 files</strong>: <a href="javascript:;">Annual Reports</a></p>
                </div> <!-- /.feed-subject -->
                <div class="feed-content">
                    <div class="thumbnail" style="width: 375px">
                        <img src="./img/mockup.png" style="width: 100%;" alt="Gallery Image">
                    </div> <!-- /.thumbnail -->
                </div> <!-- /.feed-content -->
                <div class="feed-actions">
                    <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a>
                    <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>
                    <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
                </div> <!-- /.feed-actions -->
            </div> <!-- /.feed-item -->

            <div class="feed-item feed-item-file">
                <div class="feed-icon bg-success">
                    <i class="fa fa-cloud-upload"></i>
                </div> <!-- /.feed-icon -->
                <div class="feed-subject">
                    <p><a href="javascript:;">Nikita Williams</a> posted the <strong>4 files</strong>: <a href="javascript:;">Annual Reports</a></p>
                </div> <!-- /.feed-subject -->
                <div class="feed-content">
                    <ul class="icons-list">
                        <li>
                            <i class="icon-li fa fa-file-text-o"></i>
                            <a href="javascript:;">Annual Report 2007</a> - annual_report_2007.pdf
                        </li>
                        <li>
                            <i class="icon-li fa fa-file-text-o"></i>
                            <a href="javascript:;">Annual Report 2008</a> - annual_report_2007.pdf
                        </li>
                        <li>
                            <i class="icon-li fa fa-file-text-o"></i>
                            <a href="javascript:;">Annual Report 2009</a> - annual_report_2007.pdf
                        </li>
                        <li>
                            <i class="icon-li fa fa-file-text-o"></i>
                            <a href="javascript:;">Annual Report 2010</a> - annual_report_2007.pdf
                        </li>
                    </ul>
                </div> <!-- /.feed-content -->
                <div class="feed-actions">
                    <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a>
                    <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>
                    <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
                </div> <!-- /.feed-actions -->
            </div> <!-- /.feed-item -->

            <div class="feed-item feed-item-bookmark">
                <div class="feed-icon bg-tertiary">
                    <i class="fa fa-bookmark"></i>
                </div> <!-- /.feed-icon -->
                <div class="feed-subject">
                    <p><a href="javascript:;">Nikita Williams</a> bookmarked a page on Delicious: <a href="javascript:;">Jumpstart Themes</a></p>
                </div> <!-- /.feed-subject -->
                <div class="feed-content">
                </div> <!-- /.feed-content -->
                <div class="feed-actions">
                    <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a>
                    <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>
                    <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
                </div> <!-- /.feed-actions -->
            </div> <!-- /.feed-item -->

            <div class="feed-item feed-item-question">
                <div class="feed-icon bg-secondary">
                    <i class="fa fa-question"></i>
                </div> <!-- /.feed-icon -->
                <div class="feed-subject">
                    <p><a href="javascript:;">Nikita Williams</a> posted the question: <a href="javascript:;">Who can I call to get a new parking pass for the Rowan Building?</a></p>
                </div> <!-- /.feed-subject -->
                <div class="feed-content">
                    <ul class="icons-list">
                        <li>
                            <i class="icon-li fa fa-quote-left"></i>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                        </li>
                    </ul>
                </div> <!-- /.feed-content -->
                <div class="feed-actions">
                    <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a>
                    <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>
                    <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
                </div> <!-- /.feed-actions -->
            </div> <!-- /.feed-item -->
            <br class="visible-xs">
            <br class="visible-xs">*@
            @Html.Action("RecentTransactions")
        </div> <!-- /.col -->
        </div>

        <div class="col-md-3">
            <div class="heading-block">
                <h5>
                    Social Stats
                </h5>
            </div> <!-- /.heading-block -->
            <div class="list-group">
                <a href="javascript:;" class="list-group-item">
                    <h3 class="pull-right"><i class="fa fa-eye text-primary"></i></h3>
                    <h4 class="list-group-item-heading">38,847</h4>
                    <p class="list-group-item-text">Profile Views</p>
                </a>
                <a href="javascript:;" class="list-group-item">
                    <h3 class="pull-right"><i class="fa fa-facebook-square  text-primary"></i></h3>
                    <h4 class="list-group-item-heading">3,482</h4>
                    <p class="list-group-item-text">Facebook Likes</p>
                </a>
                <a href="javascript:;" class="list-group-item">
                    <h3 class="pull-right"><i class="fa fa-twitter-square  text-primary"></i></h3>
                    <h4 class="list-group-item-heading">5,845</h4>
                    <p class="list-group-item-text">Twitter Followers</p>
                </a>
            </div> <!-- /.list-group -->
            <br>
            <div class="heading-block">
                <h5>
                    Project Activity
                </h5>
            </div> <!-- /.heading-block -->
            <div class="well">

                <ul class="icons-list text-md">
                    <li>
                        <i class="icon-li fa fa-location-arrow"></i>
                        <strong>Rod</strong> uploaded 6 files.
                        <br>
                        <small>about 4 hours ago</small>
                    </li>
                    <li>
                        <i class="icon-li fa fa-location-arrow"></i>
                        <strong>Rod</strong> followed the research interest: <a href="javascript:;">Open Access Books in Linguistics</a>.
                        <br>
                        <small>about 23 hours ago</small>
                    </li>
                    <li>
                        <i class="icon-li fa fa-location-arrow"></i>
                        <strong>Rod</strong> added 51 papers.
                        <br>
                        <small>2 days ago</small>
                    </li>
                </ul>
            </div> <!-- /.well -->
        </div> <!-- /.col -->
    </div> <!-- /.row -->
    <br><br>
</div> <!-- /.container -->

@section page{
    <script type="text/javascript">
        function OnSuccess() {
            alert("The Ajax Worked!");
        }

        function OnFailure() {
            alert("The Ajax Failed!");
        }

        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/Dashboard/ItemCount',
                dataType: 'json',
                data: { householdId: $('#arbitrary-data').data('household-id') },
                contentType: 'application/json',
                success: function (data) {
                    $('.bCount').html(data.BudgetCount);
                }
            });
        });


    </script>

}
